/*Giao diện responsive*/
/*Pc*/
@media (min-width:740px) and (max-width:1023px){

}

/*Moblie and Tablet*/
@media (max-width:1023px){
    .place-btn{
        padding: 14px 16px;
        font-size: 16px;
    }
    #contact-submit {
        padding: 16px 18px;
        font-size: 16px;
    }
    .form-control{
        padding: 15px;
        font-size: 16px;
    }
    .footer-main .footer-icon {
        font-size: 40px;
    }
    

}
/*Tablet*/
@media (min-width:739px) and (max-width:1023px){

}


/*Mobile*/
@media (max-width:739px){
    .s-full-width{
        width: 100%;
    }
    #header{
        overflow: hidden;
    }
    #nav>li{
        display: block;
      
    }
    #nav{
        display: block;
    }
    #nav li a{
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn .search-icon {
        display: none;
    }
    #content .member-list .member-item{
        margin-top: 30px;
        width: 100%;
    }
    .member-list .member-team{
        width: 60%;
    }
    .s-col-100{
        width: 100%;
    }
}